<div class="login-container">

    <form >
        <h2>Login Form</h2>
        <div class="form-group">
            <label for="">Email::</label>
            <input type="text"
                [pattern]="EMAIL_PATTERN"
                class="form-control"
                ngModel name="email"
                #email="ngModel"
                required
            placeholder="Enter the Email Id">

            <div class="error" 
                *ngIf="email.touched && email.invalid"
            >** Please Enter the Email Id 

                <div *ngIf="email.errors?.['pattern']">
                    ** Please Enter the valid Email Id 
                </div>

            </div>

        </div>

    </form>

</div>
