<p>fordirective works!</p>
<!-- syntax
    *ngFor="let item of arrayname"
    - u can apply any html tag 
-->
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Sr No</th>
                <th>Product Name</th>
                <th>Product Price</th>
                <th>Product Qty</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of arrProduct;index as i "
                (mouseover)="onMouseOver(item)"
                (mouseout)="onMouseOut()"
                [ngClass]="{
                    'highlight':selected===item.name
                }"
            >
                <td> {{i+1}} </td>
                <td> {{item.name}} </td>
                <td> {{item.price}} </td>
                <td> {{item.qty}} </td>
            </tr>
        </tbody>

    </table>
</div>